body {
    background-color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #204051;
    height: 100px;
    color: white;
    font-size: 300%;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quiz-container {
    background-color: #84A9AC;
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid black;
    height: 350px;
    width: 350px;
}

.question-container {
    display: none;
}

.quiz-questions {
    margin: 20px;
    padding 5px;
    font-weight: bold;
}

.quiz-options {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.timer-container {
    background-color: #617d80;
    height: 150px;
    width: 150px;
    margin: 10px;
    text-align: center;
    color: white;
    border: 1px solid black;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

.timer-container h2 {
    font-size: 20px;
    padding: 10px;

}

button {
    border: 2px solid black;
    background-color: #E4E3E3;
    padding: 10px;
    box-shadow: 1px 1px 3px #204051;
    margin: 5px;
    font-weight: bold;
}

button:hover {
    border: 2px solid white;
    background-color: #6d6d6d;
    color: white;
}

.start-button {
    height: 50px;
    width: 150px;
    font-size: 150%;
}

.quiz-questions {
    font-size: 150%;
}

.score-container {
    flex: 100%;
    text-align: center;
    font-size: 150%;
    width: 500px;
    max-width: 80%;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

input {
    width: 50px;
}

#highscores {
    padding: 20px;
}

#save-score {
    display: none;
}

#current-score {
    display: none;
}

input {
    padding: 5px;
}